.contentBox {
  display: grid;
}

.quote {
  border-radius: 20px;
  padding: 10px;
  margin: 2em;
  position: 0;
  text-align: justify;
  max-width: 450px;
  background: var(--mediumWhite);
  background: linear-gradient(135deg, var(--mediumWhite) 0%, var(--lightestWhite) 100%);
}

.quote::before {
  content: url(../../assets/icon-quote-dark.svg);
  float: left;
  margin: 10px;
  position: relative;
  fill: white;
  top: -30px;
  left: -70px;
  width: 30px;
  height: 0px;
}

.quote .source {
  margin-top: 20px;
  text-align: end;
  font-size: small;
}

.quote .source::before {
  content: "– ";
}

.content p {
  line-height: 2em;
}

.content p+p {
  margin-top: 1em;
}
