header {
  grid-area: "header";
  padding: 0.5rem;
}

nav {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  list-style: none;
  justify-content: start;
}

nav button, label, nav h1 {
  mix-blend-mode: multiply;
  text-wrap: nowrap;
  border-radius: 1em;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0.5rem;
}

@media screen and (max-width: 600px) {

}
