.container {
  display: grid;
  grid-template-columns: minmax(min-content, 250px) minmax(min-content, 1fr);
  gap: 1em;
}

.container > * {
  margin: 0;
}

label {
  justify-self: end;
  align-self: start;
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0.5em;
  }

  label {
    justify-self: start;
    line-height: 1em;
  }

  textarea {
    min-height: 5em;
  }
}
