.form {
  display: grid;
  place-content: center;
  justify-items: start;
}

.formfield-label {
  color: var(--darkgrey);
  font-size: smaller;
  margin: 0;
  padding: 0.25em;
}

.formfield {
  margin: 0;
}

.formfield + .formfield-label {
  margin-top: 1em;
}

.banner {
  margin: 1em;
  padding: 0.5em;
  border-radius: 1rem;
  text-align: left;
  background: var(--red)
}

.fineprint {
  font-size: smaller;
}
