.buttoncontainer {
  margin: 0 1em;
  display: grid;
  grid-gap: 1em;
}

.buttoncontainer > label, .buttoncontainer > .circlebutton, .buttoncontainer > button {
  margin: 0;
  padding: 0.25em 0.5em;
}

@media screen and (max-width: 700px) {
  #percent {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #lastKnown {
    display: none;
  }
}
