header {
  grid-area: "header";
  padding: 0.5rem;
}

nav {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  list-style: none;
  justify-content: start;
}

nav button, label {
  background-color: var(--buttonbackground);
  mix-blend-mode: multiply;
  border-radius: 1em;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0.5rem;
}

label {
  border-radius: 1em;
  padding: 0.5rem 1rem;
  margin: 1em;
  margin-bottom: auto;
}