:root {
  font-size: larger;
  height: 100%;
  color-scheme: light dark;
  --white: rgba(255, 255, 255);
  --black: rgb(40, 18, 79);
  --textcolor: var(--black);
  color:  rgba(255, 255, 255, 0.8);

  --pink: rgb(129, 39, 94, 0.8);
  --red: rgb(136, 33, 59, 0.8);
  --orange: rgb(127, 92, 43, 0.8);
  --yellow: rgba(125, 119, 0, 0.8);
  --green: rgba(52, 98, 86, 0.8);
  --blue: rgba(26, 64, 99, 0.8);
  --violet: rgba(59, 0, 119, 0.8);
  --white: rgba(116, 116, 116, 0.33);
  --grey: rgba(150, 150, 150, 0.5);
  --buttonbackground: rgba(40, 40, 40, 0.333);

  --lightWhite: rgba(255, 255, 255, 0.1);
  --mediumWhite: rgba(255, 255, 255, 0.25);
  background: linear-gradient(160deg, var(--pink) 0%, var(--violet) 36%, var(--blue) 87%, var(--green) 100%);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-attachment: fixed;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: min-content 1fr min-content;
}

:root, textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3 {
  margin: 2rem;
}

.center {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 1000px;
}

main {
  grid-area: "main";
  place-content: center;
  overflow: scroll;
}

.twoColumns {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
}

.autoColumns {
  display: grid;
  place-content: center;
}

.fourColumns {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
}

button, input, select {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  margin: 1em;
  line-height: 1.3;
  cursor: pointer;
  background-color: var(--white)
}

.buttoncontainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
}

input, button, .circlebutton {
  background-color: var(--lightWhite);
}

.circlebutton {
  box-sizing: border-box;
  margin: 1rem;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.red {
  background-color: var(--red);
}

.delete {
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;
}

.delete:hover {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.card, textarea  {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 0.5em;
  margin: 1rem 1rem;
  padding: 1.5rem;
  line-height: 1.5rem;
  min-height: 10em;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px 2px rgba(36, 0, 72, 0.05);
}

.list {
  margin: 2em;
}

.listentry {
  border-radius: 1rem;
  margin: 1rem 0;
  display: grid;
}

.reviewEntry {
  display: grid;
  grid-template-columns: repeat(2, 3fr) 1fr;
}

.reviewData {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
}

.list .listentry:nth-child(even) {
  background-color: var(--lightWhite);
}

.list .listentry:nth-child(odd) {
  background-color: var(--mediumWhite);
  mix-blend-mode: multiply;
}

.listentry > p {
  padding: 1em;
  margin: 0
}

input {
  padding: 0.5rem 1rem;
}

.searchbar {
  width: 50%;
}

.searchbar::placeholder {
  color: inherit;
  opacity: 1;
}


select {
  padding: 0.5rem;
}

textarea {
  font-size: 1rem;
  resize: none;
  width: calc(100% - 2rem);
  border: none;
}

.reveal {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 500ms;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --pink: rgba(255, 117, 202, 0.3);
    --red: rgba(255, 128, 160, 0.3);
    --orange: rgba(255, 194, 109, 0.3);
    --yellow: rgba(255, 242, 0, 0.3);
    --green: rgba(0, 255, 119, 0.3);
    --blue: rgba(0, 132, 255, 0.3);
    --violet: rgba(128, 0, 255, 0.3);
    --green: rgba(106, 232, 203, 0.5);
    --blue: rgba(113, 219, 255, 0.5);
    --red: rgba(255, 83, 189, 0.5);
    --buttonbackground: rgba(150, 150, 150, 0.2);
    --lightWhite: rgba(255,255,255, 0.5);
    --lightestWhite: rgba(255,255,255, 0.3);
    background: linear-gradient(160deg, var(--yellow) 0%, var(--orange) 36%, var(--pink) 57%, var(--violet) 87%, var(--blue) 100%);
  
    background-attachment: fixed;
  }

  button {
    border: 1px white transparent;
  }

  button:hover {
    background-color: var(--pink);
    border-color: var(--pink);
    transition: background-color 5000ms linear;
  }
}