:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --white: rgba(255, 255, 255, 0.87);
  color: var(--white);
  --black: rgb(40, 18, 79);
  background: rgb(40, 18, 79);
  --green: rgba(0, 235, 110, 0.5);
  --blue: rgba(0, 176, 235, 0.5);
  --red: rgba(235, 0, 59, 0.5);
  background: linear-gradient(-45deg, 
  rgb(47, 109, 129) 0%,
  rgb(40, 18, 79) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.twoColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(143, 214, 232, 0.325);
  color: inherit;
  margin: 1em;
  cursor: pointer;
}

.confirm, .reveal, .skip {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.confirm {
  background-color: var(--green);
}

.reveal {
  background-color: var(--blue);
}

.skip {
  background-color: var(--red);
}

.card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  margin: 1em;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    background: rgb(183,238,255);
    background: linear-gradient(333deg, rgba(183,238,255,1) 0%, rgba(238,222,255,1) 36%, rgba(255,220,244,1) 57%, rgba(247,237,223,1) 87%, rgba(255,252,198,1) 100%);
    --green: rgba(106, 232, 203, 0.5);
    --blue: rgba(113, 219, 255, 0.5);
    --red: rgba(255, 83, 189, 0.5);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffc7c7;
  }
}
