:root {
  font-size: larger;
  height: 100%;
  color-scheme: light dark;
  --white: rgba(255, 255, 255, 0.87);
  color: var(--white);
  --black: rgb(40, 18, 79);
  background: rgb(40, 18, 79);
  --green: rgba(0, 235, 110, 0.5);
  --blue: rgba(0, 176, 235, 0.5);
  --red: rgba(235, 0, 59, 0.5);
  --pink: rgba(255, 83, 189, 0.5);
  --violet: rgba(36, 0, 72, 0.2);
  --white: rgba(255,255,255, 0.33);
  --grey: rgba(150, 150, 150, 0.5);
  --buttonbackground: rgba(109, 54, 163, 0.2);
  --yellow: rgba(255,252,198,1);
  --orange: rgb(255, 232, 200);
  background: linear-gradient(-45deg, 
  rgb(47, 109, 129) 0%,
  rgb(40, 18, 79) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: min-content 1fr min-content;
  align-items: center;
}

:root, textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3 {
  font-size: 1rem;
  margin: 2rem;
}

.center {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
}

main {
  grid-area: "main";
  place-content: center;
}

.twoColumns {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
}

.autoColumns {
  display: grid;
  place-content: center;
}

.fourColumns {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
}

button, input, select {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  margin: 1em;
  cursor: pointer;
  background-color: var(--white)
}

.buttoncontainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
}

input, button {
  background-color: rgba(255, 255, 255, 0.5);
}

.circlebutton {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1rem;
  padding: 0.25rem;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.red {
  background-color: var(--red);
}

.card, textarea  {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  margin: 1rem 1rem;
  padding: 1.5rem;
  line-height: 1.5rem;
  min-height: 10em;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px 2px rgba(36, 0, 72, 0.05);
}

input {
  padding: 0.5rem 1rem;
}

select {
  padding: 0.5rem;
}

textarea {
  font-size: 1rem;
  resize: none;
  width: calc(100% - 2rem);
  border: none;
}

.reveal {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 500ms;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    background: rgb(183,238,255);
    --grey: rgba(240, 240, 240, 1);
    background: linear-gradient(333deg, rgba(183,238,255,1) 0%, rgba(238,222,255,1) 36%, rgba(255,220,244,1) 57%, rgba(247,237,223,1) 87%, rgba(255,252,198,1) 100%);
    --green: rgba(106, 232, 203, 0.5);
    --blue: rgba(113, 219, 255, 0.5);
    --red: rgba(255, 83, 189, 0.5);
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px white transparent;
  }

  button:hover {
    background-color: var(--pink);
    border-color: var(--pink);
    transition: background-color 5000ms linear;
  }
}
