.list {
  display: grid;
}

.list-header {
  display: grid;
  font-weight: bold;
}

.list-entry {
  border-radius: 1rem;
  margin: 0.25rem;
  padding: 0.5rem;
  display: grid;
  grid-auto-flow: column;
}

.list-entry > p {
  margin: 0;
  padding: 0;
}

.list-entry span + span {
  margin-left: 0.25em;
}

.list .list-entry:nth-child(even) {
  background-color: var(--lightWhite);
}

.list .list-entry:nth-child(odd) {
  background-color: var(--mediumWhite);
}

@media screen and (max-width: 600px) {
  .list-entry {
    margin: 0.25rem;
    border-radius: 0.33rem;
    padding: 0.25rem;
  }
}

@media screen and (max-width: 500px) {
  #percent {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #total {
    display: none;
  }
}
