.list-header {
  font-weight: bold;
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  grid-auto-flow: column;
  position: sticky;
}

.list-entry {
  border-radius: 1rem;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
}

.list-entry span + span {
  margin-left: 0.25em;
}

.list .list-entry:nth-child(even) {
  background-color: var(--lightWhite);
}

.list .list-entry:nth-child(odd) {
  background-color: var(--mediumWhite);
  mix-blend-mode: multiply;
}

@media screen and (max-width: 600px) {
  .list-header > p {
    margin: 0.75vh;
  }

  .list-entry {
    margin: 0.75vh;
    padding: 0.25em 1em;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, (min-content 1fr));
  }

  .list-entry .circlebutton.green, .list-entry .circlebutton.red {
    width: 1em;
    height: auto;
    aspect-ratio: 1;
  }

  .list-entry > * {
    margin: 0;
    place-items: center;
  }
}

@media screen and (max-width: 500px) {
  #percent {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #total {
    display: none;
  }
}
